.item{
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin-bottom: 16px;
}

input{
    border-radius: 15px;
    border: 1px solid black;
}

input:focus{
    outline: none;
}

.calendar{
    position: absolute;
    margin-left: 410px;
    border-radius: 15px;
}
