body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(
          237.39deg, #EBF2F7 0%, #F7FBFD 5.25%,
          rgba(230, 246, 255, 0.772975) 19.95%,
          rgba(231, 246, 254, 0.671408) 31.84%,
          rgba(245, 252, 255, 0.527707) 41.97%,
          rgba(228, 242, 250, 0.461852) 53.78%,
          rgba(238, 249, 255, 0.42) 63.65%,
          rgba(214, 233, 244, 0.22771) 76.19%,
          rgba(235, 245, 251, 0.124332) 85.94%,
          rgba(234, 239, 241, 0.0533869) 91.85%,
          rgba(10, 165, 252, 0) 96.56%)
          no-repeat;
}

button:focus{
  outline: none;
}