
/* Поле ввода логина и пароля*/
form{
    margin: 0 auto;
    position: absolute;
    right: 200px;
    top: 280px;
}
@font-face {
    font-family: Sansation;
    src: url(../../Account/Fonts/sansation.light.ttf);
}

/*Окна для ввода логина и пароля*/
.input{
    display: block;
    margin-top: 14px;
    text-align: center;
    color: #8A8383;
    background: #F8F4F4;
    border: 2px #eee solid;
    border-radius: 17px;
    height: 60px;
    width: 250px;
    font-size: 18px;
    line-height: 3em;
    font-family: Sansation, sans-serif;
}

.input:focus{
    border-color: #AFAFAF;
    outline: none;
}

/*Кнопка для входа*/
.sendForm{
    display: block;
    margin: 20px auto;
    text-align: center;
    box-sizing: border-box;
    width: 100px;
    height: 40px;
    color: #FFFFFF;
    border: none;
    border-radius: 17px;
    background: #AFAFAF;
    font-size: 1em;
    line-height: 2em;
    font-family: Sansation, sans-serif;
}