.plan{
    width: 1200px;
    margin: 5px auto;
}

.select{
    margin-left: 45px;
}

.adaptation{
    margin: 10px auto;
}
.buttonsList{
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.block{
    display: flex;
    align-items: center;
}

/*
.inLine {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #030303;
    content: "";
}*/
