.selectList{
    width: 390px;
    margin-bottom: 15px;
}


.addTask{
    height: 38px;
    width: 38px;
    border: none;
    border-radius: 50%;
    margin-left: 12px;
/*    box-shadow: 2px 2px 2px #bed52d;*/
    background: url("../AccountAssets/addTask.png");
}